.Navbar{
    display: flex;
    height: 10rem;
    width: 100vw;
    background-color: black;
    position: fixed;
    z-index: 10;
    overflow-x: hidden;

    &.active{
        transition: 0.5s all ease-in-out;
        background-color: rgba(48,54,98,0.9);
        border-bottom: 1px solid rgba(126, 126, 126, 0.9);
    }
    .Navbar__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        height: 100%;
        
        .Navbar__logo{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 8rem;
            }
        }
        .Navbar__menu{
            display: flex;
            width: max-content;

            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2.5rem;

                h2{
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: var(--primary-color);
                    cursor: pointer;
                }

                button{
                    background-color: var(--primary-color);
                    color: black;
                    padding: 0.20rem 0.5rem;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.4rem;
                    width: 100px;
                    font-weight: 600;
                    cursor: pointer;

                }
            }

        }

    }
        @media screen and (max-width: 480px) {
            position: fixed;
            bottom: 0px;
            height: 4rem;
            background-color: white;

            .Navbar__container{
                display: none;
            }
            .Navbar__container-mobile{
                display: flex;
                width: 100vw;
                align-items: center;
                justify-content: space-around;
                background-color: var(--secondary-color);
                border-top: 1px solid rgba(255, 255, 255, 0.9);
                

                .Navbar__menu{
                    width: 100%;

                    ul{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                    
                    svg{

                        color: var(--primary-color);
                        font-size: 2rem;
                    }
                }
                }
                
            }
        }
    }